<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <ul class="a50-footer">

      {% if site.email %}
        <li>
          contact: <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
        </li>
      {% endif %}

      <li>
        subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a>
      </li>

      <li>
        {% include social.html %}
      </li>

    </ul>

  </div>

</footer>
